
[Desktop Entry]
Version=1.0
Name=Gnome Modem Manager
Comment=GUI utility for control 3G modem
TryExec=/usr/bin/gnome-modem-manager
Exec=/usr/bin/gnome-modem-manager
Icon=modem
Terminal=false
Type=Application
StartupNotify=true
Icon=modem
Categories=Network
