Source: gnome-modem-manager
Section: net
Priority: optional
Maintainer: kiv <kiv.apple@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libgtk-3-0-dev, valac
Standards-Version: 3.9.2
Homepage: http://cpu-fun.ru/projects/gmm
#Vcs-Git: git://github.com/kiv-apple/Gnome-Modem-Manager.git
#Vcs-Browser: https://github.com/kiv-apple/Gnome-Modem-Manager
Package: gnome-modem-manager
Version: 0.0.1
Architecture: any
Depends: modemmanager (>= 0.5), libgtk-3-0
Description: GUI tool to control 3G modem via ModemManager D-Bus API
 This program looks like such programs as Megafon Internet, MTS Connect, and others in Windows. The main target Desktop Environment is Gnome, but it can be used in other environments too. In fact it's just a GUI for some functions provided by ModemManager.
 Features:
 - Viewing information about the modem (IMEI, IMSI, operator name, version and hardware drivers, etc.).
 - Working with contacts on the SIM-card (not working yet).
 - Viewing a list of SMS stored on a SIM-card and deleting them.
 - Sending a USSD-requests and viewing response to them (such as balance check).
 - Managing multiple modems simultaneously connected.
 - Managing modems connected to the network (depends on 3G-modem).
 - Application uses D-Bus API ModemManager (component NetworkManager).
